[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ComparisonSurv"]
	path = ComparisonSurv
	url = https://github.com/cran/ComparisonSurv
